<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Iris Application</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Iris Classification</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About the website</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Search a name</a>
                <a class="dropdown-item" href="/contact">Get all data</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Misc</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Add information</a>
            </li>
          
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <h1 class="text-center">Iris Django Application</h1>
    <hr>
    {% comment %} <div class="container-fluid px-0 mb-3" >
        <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0" alt="...">
    </div> {% endcomment %}
    {% if result %}
        <h1 class="text-center">Flower you're trying to classify is {{result}}</h1>
    {% endif %}

    <div class="container mb-3 py-4">
        <h1 class="text-center">Enter the details of the flower</h1>
        <form method="post" action="">
        {% csrf_token %}
            <div class="form-group">
                <label for="Sepal Length">Sepal Length</label>
                <input type="number" class="form-control" id="Sepal Length" name="sepal_length" placeholder="Sepal Length">
            </div>
    
            <div class="form-group">
                <label for="Sepal Width">Sepal Width</label>
                <input type="number" class="form-control" id="Sepal Width" name="sepal_width" placeholder="Sepal Width">
            </div>
            
            <div class="form-group">
                <label for="Petal Length">Petal Length</label>
                <input type="number" class="form-control" id="Petal Length" name="petal_length" placeholder="Petal Length">
            </div>      
            
            <div class="form-group">
                <label for="Petal Width">Petal Width</label>
                <input type="number" class="form-control" id="Petal Width" name="petal_width" placeholder="Petal Width">
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    
    </div>

    {% comment %} <form action="" method="POST">
        {% csrf_token %}
        Sepal Length : <input type="number" name="sepal_length" required><br>
        Sepal Width : <input type="number" name="sepal_width" required><br>
        Petal Length : <input type="number" name="petal_length" required><br>
        Petal Width : <input type="number" name="petal_width" required><br>
        <input type="submit">
    </form> {% endcomment %}
</body>
</html>